<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/jquery-1.11.0.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<h2 class="container text-center" style="margin-top:100px;margin-bottom:100px;">欢迎登录前端日刊</h2>
<div class="container">

    <form class="form-horizontal" method="post" action="/login">
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Username" id="username" name="username">
            </div>
        </div>

       <!-- <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">电子邮件</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>-->
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">密码</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default btn-info" id="login">登录</button>
                <a href="/login/register" class="btn btn-default btn-warning" style="margin-left: 345px">没有账号，点击注册</a>
            </div>
        </div>
    </form>
    <%if(isshow){%>
    <div class="alert alert-warning alert-dismissible col-sm-offset-3 col-sm-6" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> 用户名或密码错误
    </div>
    <%}%>
</div>
</body>
</html>
